src/main/mule/databaseendpoint.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:db="http://www.mulesoft.org/schema/mule/db"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="1475d996-750a-42a0-bdb1-de533dbec189" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<db:config name="Database_Config" doc:name="Database Config" doc:id="5c3b89bb-aa9a-44c2-9fe8-c8df29ad298b" >
		<db:my-sql-connection host="localhost" port="3306" user="root" password="password" database="muletrainingdb" />
	</db:config>
	<flow name="databaseendpointFlow" doc:id="f9bbdbfd-dd8b-41e8-a257-2cbe0e36ff5e" >
		<http:listener doc:name="Listener" doc:id="5ca65c07-4029-4fa3-9083-3e9c15b72eab" config-ref="HTTP_Listener_config" path="/products"/>
		<db:select doc:name="Select" doc:id="34acd2e7-f7f7-4f32-b0b5-532f3057d9e1" config-ref="Database_Config">
			<db:sql ><![CDATA[select * from product ]]></db:sql>
		</db:select>
		<ee:transform doc:name="Transform Message" doc:id="4295b5f5-218e-4a1b-b81c-905bec0ba17d" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="7fd756d7-87ef-428d-a861-549b8a97216e" message="#[payload]"/>
	</flow>
</mule>
